.container{

  .main_row{
    padding-top: 12em;

    .lead{
      font-size: 1.8em; 
    }

    .links{
      font-size: 1.4em;
      color: rgb(187, 119, 130);
    }
  }

}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }


.logo{
  font-size: 12em;
  // align:? center;

}