<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-lighten pink lighten-5" [containerInside]="true">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" style="  color: #880e4f ;" href="#">
      STV
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item">
        <a routerLink="/community" class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="users"></mdb-icon> Community
        </a>
      </li>


      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user-nurse"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a type="button" class="dropdown-item waves-light" mdbWavesEffect data-toggle="modal"
            data-target="#basicExample" (click)="frame.show()"> Login</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Register</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<div class="container">
  <div class="row main_row">
    <div class="col-lg-6 text-center col-sm-12 col-xs-12">
      <h1 class="logo ">
        STV
      </h1>
    </div>
    <div class="col-lg-6  col-sm-12 col-xs-12">
      <h1 @slideDown class="display-4">Stop the violence</h1>
      <hr>
      <p @slideUp class="lead">
        A platform to voice out and share your experiences on gender based violence
      </p>

      <a @slideUp routerLink="/community" href="" class="links">
        <mdb-icon fas icon="users" size="lg"></mdb-icon>
        Community
      </a> <br>

      <!-- <a @slideUp routerLink="/community" href="" class="links">
        <mdb-icon fas icon="shield-alt" size="lg"></mdb-icon>
        Login
      </a> -->
    </div>
    <!-- <div class="col-lg-6 col-sm-12 col-xs-12">
      <mdb-card>
        <mdb-card-body>
          <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

            <div class="form-group">

              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
                #email="ngModel">
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Enter email
              </div>
            </div>

            <div class="form-group">
              <label for="alterEgo">Password</label>
              <input type="text" name="password" id="password" #password="ngModel" [(ngModel)]="model.password"
                class="form-control" required>
              <div [hidden]="password.valid || password.pristine " class="alert alert-danger">
                Insert password
              </div>
            </div>


            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Log in</button>
            <button type="button" class="btn btn-default" (click)="loginForm.reset()">Register</button>

          </form>
        </mdb-card-body>
      </mdb-card>
    </div> -->
  </div>
</div>




<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

          <div class="md-form mb-5">
            <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
            <!-- <label for="defaultForm-email">Your email</label> -->
            <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email"
              #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Enter email
            </div>
          </div>

          <div class="md-form mb-4">
            <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
            <input type="text" name="password" id="password" #password="ngModel" [(ngModel)]="model.password"
              class="form-control" required>
            <div [hidden]="password.valid || password.pristine " class="alert alert-danger">
              Insert password
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid" mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>   
        <button mdbBtn color="red" class="waves-light"  (click)="frame.hide(); resetForm.reset()" mdbWavesEffect>Cancel</button>
      </div>
    
    </div>
  </div>
</div>