<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-lighten red lighten-5" [containerInside]="true">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">
      STV
  </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
 
    </ul> -->
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Logged In 
      </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a> -->
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->






<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
        (click)="frame.show()" mdbWavesEffect>Launch Modal
</button>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar"
             class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body mb-1">

        <h5 class="mt-1 mb-2 text-center">Maria Doe</h5>

  

        <div class="text-center mt-4">
          <button mdbBtn color="cyan" rounded="true" class="mt-1 waves-light" mdbWavesEffect>Login
            <mdb-icon fas icon="sign-in-alt" class="ml-1"></mdb-icon>
          </button>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>